.ord{
    display: table;
    margin: auto;
}
.ruta{
    height: 75px;
    width: 75px;
    outline-style: solid;
    outline-color: dimgrey;
    background-color: white;
    outline-width: 2px;
    float: left;
    display: inline;
}



.ruta h1{
    text-align: center;
    outline-color: dimgrey;
    outline-width: 5px;
    color: white;
    font-family: Arial;
}

#rubrik{
    text-align: center;
    font-size: 40px;
    font-family: Copperplate;
}

#input_error{
    color: red;
}

#tangentbord {
    height: 10px;
    margin: 10px;
}

.tangentbords-rad {
    touch-action: manipulation;
    display: flex;
    justify-content: center;
}

.tangentbords-rad button {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}







